* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #121212;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Title */
h1 {
  margin: 20px 0;
  font-size: 26px;
  text-align: center;
}

/* Main Card */
#app {
  width: 90%;
  max-width: 400px;
  background: #1e1e1e;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

/* Buttons */
button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #2c2c2c;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 16px;
}

button:active {
  transform: scale(0.97);
}

/* Inputs & textarea */
input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  background: #2a2a2a;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
}

textarea {
  resize: none;
}
